{% extends "registration.html" %}
{% load static %}
{% load i18n %}
{% block content %}
  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>
    
    
    <div class="registration__footer">
      login with your <a href="/oidc/authenticate">NRC Okta account</a>
      {% if config.REGISTRATION_OPEN %}
        {% trans "or" %} <a href="{% url 'registration_register' %}">{% trans "create an account" %}</a>
      {% endif %}
    </div>
    
  </form>
{% endblock %}
